.profile__edit-button {
    padding: 0;
    border: 0;
    width: 24px;
    height: 24px;
    background: no-repeat url(../../../images/button-edit.svg);
    transform: translate(18px, -8px);
    cursor: pointer;
    transition: opacity .3s ease;
}

.profile__edit-button:hover {
    opacity: .8;
    transition: opacity .3s ease;
}