.popup__container {
    position: fixed;
    min-width: 430px;
    min-height: 330px;

    top: 33%;
    left: 39%;

    background-color: #fff;
    border-radius: 10px;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}