.element-grid__delete-button {
  border: 0;
  padding: 0;
  height: 19px;
  width: 18px;
  background: no-repeat url(../../../images/button-delete.svg);
  position: absolute;
  top: 20px;
  right: 20px;
  position: absolute;
  cursor: pointer;
  transition: opacity .3s ease;
}

.element-grid__delete-button:hover {
  opacity: .5;
  transition: opacity .3s ease;
}
