.form__input-error {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #ff0000;
  opacity: 0;
  max-width: 358px;
  /* position: absolute;
  top: -50px;
  left: 0; */
  transition: 0.3s;
  display: block;
}