.profile__description {
  margin: 0;
  padding-top: 10px;
  padding-left: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
  max-width: 336px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .profile__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding-top: 6px;
    padding-left: 38px;
  }
}