.popup__close-button {
  border: 0;
  padding: 0;
  height: 32px;
  width: 32px;
  background: no-repeat url(../../../images/button-close.svg);
  background-size: 32px;
  transform: translate(438px, -369px);

  position: absolute;
  cursor: pointer;
  transition: opacity .3s ease;
}

.popup__close-button:hover {
  opacity: .6;
  transition: opacity .3s ease;
}

@media screen and (max-width: 527px) {
  .popup__close-button {
    height: 20px;
    width: 20px;
    background-size: 20px;
    transform: translate(262px, -359px);
  }
}
