.popup__close-button {
    border: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    background: no-repeat url(../../../images/button-close.svg);
    transform: translate(438px, -41px);
    position: absolute;
    cursor: pointer;
    transition: opacity .3s ease;
}

.popup__close-button:hover {
    opacity: .8;
    transition: opacity .3s ease;
}